.container {
	margin-top: 20px;
}

ul.xprag  > li.nav-item > a {
	color: #aaa;
	font-size: 90%;
	font-family: "Unite", sans-serif;
}

ul.xprag  > li.nav-item.active > a {
	color: #000;
}

h2 {
	font-family:"Geneva" !important;
	font-weight:700 !important;
	letter-spacing: 0px !important;
}

h4 {
	color: #777;
	font-size: 110%;
}

p {
	display: block;
	font-family: "Geneva";
    font-size: 16px;
    line-height: 1.75;
	letter-spacing: 0.02em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #aaa;
}

ul > li {
	font-family: "Montserrat";
    font-size: 16px;
	letter-spacing: 0.02em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #aaa;
}
}